.block-page-about,
.block-page-sidebar {
  padding-bottom: 1.5rem;
  margin-top: 11rem;
  @media (max-width: 991px) {
    margin-top: 9rem;
  }
  @media (max-width: 767px) {
    margin-top: 7rem;
  }
  @media (max-width: 600px) {
    margin-top: 5rem;
  }
  @media (max-width: 420px) {
    margin-top: 5.5rem;
  }
  .wrapper__content {
    margin-top: 1.5rem;
  }
  h1 {
    font-size: 1.9rem;
  }
}
.sidebar-menu__wrapper {
  h3 {
    margin-bottom: 1rem;
  }
  ul {
    list-style: none;
    padding: 0.2rem;
    li {
      a {
        display: block;
        padding: 0.6rem 2rem;
        width: 100%;
        font-family: "Montserrat", sans-serif;
        color: rgba(0, 0, 0, 0.5);
        @include transition;
        border-bottom: 1px solid #f3efea;
        &:hover {
          text-decoration: none;
          background: $itGreen;
          color: white !important;
        }
      }
    }
    .current-menu-item {
      a {
        background: $itGreen;
        color: white;
      }
    }
  }
}
