.figure-box {
    position: relative;
    figure {
        overflow: hidden;
        position: relative;
        img {
            position: relative;
            max-width: 100%;
            transition: transform 0.6s;
         
         }
         &:hover {
             img {
                transform: translateY(-50px);
             }
             figcaption {
                opacity: 1;
                transform: translateY(0px);
                transition: transform 0.6s, opacity 0.1s;
            }
         }
    }
    figcaption {
        position: absolute;
        top: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        padding: 20px;
        background-color: $itGreen;
        color: white;
        text-align: center;
        opacity: 0;
        transform: translateY(100%);
        transition: transform 0.6s, opacity 0.1s 0.3s;
    
    }
    }
    
 