@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&subset=latin-ext");

/* font-family: 'Montserrat', sans-serif; */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}
p {
  line-height: 1.8;
}
