footer {
  color: $itCreme;
  .footer-main {
    padding: 1rem 0;
    padding-top: 2rem;
    background-color: #4c4c4c;
    h5 {
      color: white;
    }
    p {
      margin-bottom: 0.5rem;
      font-size: 0.9rem;
    }
    ul {
      padding-left: 0.5rem;
      list-style: none;
      line-height: 1.75;
      a {
        color: #cccaca;
        position: relative;
        line-height: 1.6;
        font-size: 0.9rem;
        &:hover {
          text-decoration: none;
        }
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          bottom: -2px;
          left: 0;
          background-color: #fff;
          visibility: hidden;
          transform: scaleX(0);
          transition: all 0.3s ease-in-out 0s;
        }
        &:hover::before {
          visibility: visible;
          transform: scaleX(1);
        }
      }
    }
    &__item {
      @media (max-width: 991px) {
        margin-bottom: 1rem;
      }
    }
  }
  .footer-additional {
    color: $itCreme;
    background-color: #424242;
    padding: 1rem 0;
    &__item {
      @media (max-width: 991px) {
        margin-bottom: 1rem;
        text-align: center;
      }
    }
    &__socials {
      display: flex;
      justify-content: right;
      @media (max-width: 991px) {
        justify-content: center;
      }
      a {
        color: $itCreme;
        transition: 0.3s;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        &:hover {
          text-decoration: none;
          color: white;
        }
      }
      i {
        font-size: 1.5rem;
        border: 1px solid $itCreme;
        width: 40px;
        border-radius: 5px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        &:hover {
          border-color: white;
        }
      }
    }
    &__enova,
    &__iso {
      text-align: center;
    }
    p {
      margin: 0.5rem 0 0 0;
    }
  }
}
