.block-page-helpdesk {
  padding-bottom: 1.5rem;
  margin-top: 11rem;
  .helpdesk {
    &__items-wrapper {
      margin-top: 1rem;
      .helpdesk__image {
        margin-top: 1rem;
        text-align: center;
        img {
          max-height: 200px;
        }
      }
      .helpdesk__button {
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 1rem;
      }
    }
  }
}
