.upperinfo {
  display: flex;
  justify-content: right;
  background: white;
  padding: 0.5rem 2.46rem 0 0;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.0325em;
  padding-bottom: 1rem;
  @media (max-width: 420px) {
    justify-content: space-between;
  }
  @media (max-width: 320px) {
    font-size: 10px;
  }
  .upperinfo__right {
    @media (max-width: 420px) {
      display: flex;
      flex-direction: column;
      span {
        margin-bottom: 0.25rem;
      }
    }
  }
  &.scrolled {
    //height: 0;
    transform: translateY(-100%);
    transition: transform 0.2s;
    position: absolute;
  }
  span {
    margin-left: 1rem;
    i {
      margin-right: 0.5rem;
    }
    @media (max-width: 420px) {
      .fa-phone {
        margin-right: 0.7rem;
      }
    }
  }
  @media (max-width: 1090px) {
    padding-bottom: 0.5rem;
  }
}
.navbar {
  background: white;
  padding: 1.5rem 1rem;
  @media (min-width: 992px) and(max-width:1190px) {
    padding: 2rem 1rem;
  }
  &-brand {
    margin-top: -3rem;
  }
  @media (max-width: 1090px) {
    &-brand {
      margin-top: -2rem;
    }
  }
  @media (max-width: 991px) {
    &-brand {
      margin-top: -2rem;
    }
  }
}
.navbar-brand {
  @media (max-width: 1260px) {
    img {
      max-width: 80%;
    }
  }
  @media (max-width: 1130px) {
    img {
      max-width: 70%;
    }
  }
}
@media (max-width: 991px) {
  .navbar-toggler {
    margin-top: -1.5rem;
  }
  .flexbox__navbar {
    margin-top: 1.5rem;
  }
}
.scrolled {
  .navbar-toggler {
    margin-top: 0;
  }
  .navbar-brand {
    margin-top: 0;
  }
  #navbarText {
    margin-top: 0;
  }
  .navbar-text {
    margin-top: 0;
  }
  img {
    @include transition;
    transform: scale(0.7);
  }
  @include transition;
  padding: 0.5rem 1rem;
}
.scrolledAgain {
  img {
    transform: scale(1);
    @include transition;
  }
  @include transition;
  @media (min-width: 992px) {
    padding: 1.5rem 1rem;
  }
}
@media (max-width: 991px) {
  .scrolledAgain {
    padding: 1.5rem 1rem;
  }
}
#navbarText {
  margin-left: 3rem;
  margin-top: -2rem;
  justify-content: space-between;
  @media (max-width: 1260px) {
    margin-left: -1rem;
  }
  @media (max-width: 991px) {
    margin-top: 0;
  }
  // @media (min-width: 992px) {
  .right__menu {
    li {
      margin-left: 0.3rem;
      margin-right: 0.3rem;
      a {
        background-color: $itGreen;
        padding: 0.5rem 1rem;
        @include transition;
        color: white;
        border-radius: 25px;
        position: relative;
        z-index: 2;
        &:hover {
          background-color: $itDark;
          color: white !important;
        }
      }
    }
  }
  @media (max-width: 992px) {
    .right__menu {
      li {
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
      }
    }
  }
  // }
  .flexbox__navbar {
    @media (min-width: 992px) {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}
.right__menu {
  @media (min-width: 992px) and(max-width:1230px) {
    margin-right: -0.3rem;
  }
  @media (min-width: 992px) and(max-width:1130px) {
    li {
      margin-left: 0.2rem !important;
      margin-right: 0.2rem !important;
      a {
        padding: 0.5rem 0.7rem !important;
      }
    }
  }
}
.navbar-text {
  padding-bottom: 0.3125rem;
  padding-top: 0.3125rem;
  margin-top: -2rem;
  img {
    height: auto;
    max-width: 100%;
  }
  @media (max-width: 1360px) {
    width: 200px;
  }
  @media (max-width: 1230px) {
    width: 160px;
    position: relative;
    z-index: 1;
  }
  @media (max-width: 1090px) {
    display: none;
  }
}

@media (max-width: 991px) {
  .navbar-text {
    display: none;
  }
}

@mixin transition {
  transition: all 0.3s ease;
}
@media (max-width: 991px) {
  .dropdown-toggle {
    &.nav-link {
      text-align: center;
    }
  }

  .dropdown-menu {
    transition: 0.2s ease all;
    visibility: hidden;
    opacity: 0;
    display: block;
    max-height: 0;
    padding: 0;
    border: none;
    text-align: center;
    .nav-link {
      text-align: center;
    }
    &.show {
      display: block;
      visibility: visible;
      opacity: 1;
      transition: 0.2s ease all;
      max-height: 500px;
    }
  }
}
@media (min-width: 992px) {
  .dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.5s ease all;
    &.show {
      display: block;
      visibility: visible;
      opacity: 1;
      transform: translateY(0px);
      transition: 0.5s ease all;
    }
  }
}

.navbar-nav {
  .nav-link {
    &:hover {
      color: $itGreen !important;
    }
  }
  .dropdown-item {
    &:hover {
      color: $itGreen;
      background-color: white;
    }
  }
  @media (max-width: 991px) {
    align-items: center;
  }
  .dropdown.show {
    @media (max-width: 991px) {
      text-align: center;
    }
  }
  .dropdown-menu.show {
    @media (max-width: 991px) {
      text-align: center;
      border: none;
    }
  }
}

.searchGLass {
  //background-image: url("../img/searchGlass.svg");
  height: 22px;
  width: 22px;
  display: block;
  background-repeat: no-repeat;
  cursor: pointer;
  @include transition;
  &:hover {
    fill: $itGreen;
  }
}
