.navbar {
    background: white;
    .upperinfo {
        display: flex;
        justify-content: right;
        
    }
   
}

.scrolled {
    img{
        @include transition;
        transform:scale(0.7);
    }
   
    @include transition;
    padding: 0 1rem;
   
}
.scrolledAgain {
    img{
        transform:scale(1.0);
        @include transition;
    }
    @include transition;
    padding: 0.5rem 1rem;
    
}


.navbar-text {
    margin-top: 12px;
    img {
        height: auto; max-width: 100%;
    }
    
}
@media(max-width:991px){
    .navbar-text {display: none;}
}

@mixin transition {
    transition: all 0.3s ease;
  }