.block-single {
  padding-bottom: 3rem;
  margin-top: 10rem;
  @media (max-width: 991px) {
    margin-top: 9rem;
  }
  @media (max-width: 767px) {
    margin-top: 7rem;
  }
  @media (max-width: 600px) {
    margin-top: 5rem;
  }
  @media (max-width: 420px) {
    margin-top: 5.5rem;
  }
  &__title {
    color: $itGreen;
    margin-bottom: 2rem;
    h1 {
      margin-bottom: 0;
    }
  }
}
