.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper__inside {
  position: absolute;
  top: 17%;
  @media (max-width: 991px) {
    top: 5%;
  }
  @media (max-width: 767px) {
    top: 0;
  }
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  // background-position: top center;
  background-position-y: 50%;
  white-space: normal;
  background-size: cover;
  padding-top: 31%;
  @media (max-width: 767px) {
    padding-top: 50%;
  }
}
.block-swiper {
  padding-top: 141px;
  @media (max-width: 1360px) {
    padding-top: 124px;
  }
  @media (max-width: 1230px) {
    padding-top: 114px;
  }
  @media (max-width: 991px) {
    padding-top: 89px;
  }
  @media (max-width: 600px) {
    padding-top: 53px;
  }
  .swiper-slide--view__title {
    &.swiper-slide--nobg {
      background-color: transparent;
      margin-top: 20%;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    @media (max-width: 767px) {
      margin-top: 16%;
    }
    background-color: rgba(0, 0, 0, 0.3);
    padding: 2rem;
    // height: 100%;
    color: white;
    @media (max-width: 600px) {
      display: none;
    }
    h2 {
      font-size: 2.5rem;
      letter-spacing: 1.2px;
      font-weight: 500;
      font-family: "Montserrat", sans-serif;
      @media (max-width: 991px) {
        font-size: 2rem;
      }
      @media (max-width: 767px) {
        font-size: 1.5rem;
      }
    }
  }
  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 20px;
    left: 10%;
    transform: translateX(-10%);
    @media (max-width: 767px) {
      left: 0%;
      transform: translateX(-0%);
    }
  }
  .swiper-pagination-bullet {
    background: $itGrey;
    width: 14px;
    height: 14px;
  }
  .swiper-pagination-bullet-active {
    background: $itGreen;
  }
  .swiper-button-prev,
  .swiper-button-next {
    transition: all 200ms ease;
    color: white;
    &:hover {
      color: $itGreen;
    }
    // @media (max-width: 400px) {
    //   top: 90%;
    // }
    &::after {
      font-size: 74px;
      @media (max-width: 991px) {
        font-size: 44px;
      }
    }
  }
  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    left: 10vw;
    right: auto;
    @media (max-width: 1333px) {
      left: 3vw;
    }
    // @media (max-width: 400px) {
    //   left: 30vw;
    // }
  }
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    right: 10vw;
    left: auto;
    @media (max-width: 1333px) {
      right: 3vw;
    }
    // @media (max-width: 400px) {
    //   right: 30vw;
    // }
  }
}
