body {
  overflow-x: hidden;
}
.customize-support {
  .fixed-top {
    top: 32px;
  }
}
@media (max-width: 600px) {
  .customize-support {
    .fixed-top {
      top: 0;
    }
  }
}
.wp-caption.aligncenter {
  text-align: center;
  max-width: 100% !important;
}
.wp-caption.alignright {
  text-align: right;
  max-width: 100% !important;
}
.wp-caption.alignleft {
  text-align: left;
  max-width: 100% !important;
}
p > .alignright {
  text-align: right;
}
img {
  max-width: 100%;
  height: auto;
}
