@import "~bootstrap/scss/bootstrap";
@import "components/variables";
@import "components/fonts";
@import "components/wordpress";
@import "components/navbar";
@import "components/footer";
@import "components/slider";
@import "components/heroimage";
@import "components/buttons";
@import "components/backtotop";
@import "components/solutions";
@import "components/casestudies";
@import "components/news";
@import "components/figures";
@import "components/logosslider";
@import "components/page";
@import "components/animations";
@import "components/tests";
@import "components/single";
@import "components/search";
@import "components/about";
@import "components/archive";
@import "components/helpdesk";
@import "components/contact";
