// @import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Optional
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/close";
@import "components/variables";
@import "components/fonts";
@import "components/wordpress";
@import "components/navbar";
@import "components/footer";
@import "components/slider";
@import "components/heroimage";
@import "components/buttons";
@import "components/backtotop";
@import "components/solutions";
@import "components/casestudies";
@import "components/news";
@import "components/figures";
@import "components/logosslider";
@import "components/page";
@import "components/animations";
@import "components/tests";
@import "components/single";
@import "components/search";
@import "components/about";
@import "components/archive";
@import "components/helpdesk";
@import "components/contact";
@import "components/swiper";
